<h1><%= @employee.name %>'s Dashboard</h1>

<p>Email: <%= @employee.email %></p>
<p>Salary: $<%= @employee.salary %></p>
<p>Annual Bonus: $<%= @employee.annual_bonus %></p>
<p>Vacation Balance: <%= @employee.vacation_balance %> hours</p>
<p>Department: <%= @employee.department %></p>
<% if @employee.manager %>
  <p>Manager: <%= @employee.manager.name %></p>
<% end %>
<p>Role: <%= @employee.role %></p>
<p><%= link_to "Edit", edit_admin_employee_path(@employee.id) %></p>
